#article1 {
	display:block;
	background-color:#FAEBD7;
	border:1px solid;
	border-color:#f3f3f3 #bbb #bbb #f3f3f3;
	margin:0;
	padding:.5em;
}

.content-switch
{
    border: solid 1px black;
    position: absolute;
    left: 50%;
    top: 20%;
    background-color: white;
    z-index: 100;

    heightaaa: 400px;
    margin-top: -100px;

    width: 800px;
    margin-left: -300px;
}